VEHICLES_V2_DB_HOST=10.3.172.11
VEHICLES_V2_DB_PORT=3306
VEHICLES_V2_DB_NAME=vehicles-zzs-dev
VEHICLES_V2_DB_USER=YOUR_DB_USER
VEHICLES_V2_DB_PASS=YOUR_DB_PASSWORD
VEHICLES_V2_APP_VERSION=0.90
VEHICLES_V2_API_BASE_PATH=/dev/api.vehicles/vehicle/v2.0
VEHICLES_V2_FRONTEND_BASE_PATH=/dev/vehicles-v2
VEHICLES_V2_COOKIE_PATH=/dev/api.vehicles/vehicle/v2.0
VEHICLES_V2_COOKIE_SECURE=0
VEHICLES_V2_ENV=development
VEHICLES_V2_CENTRAL_AUTH_BASE=https://erdms.zachranka.cz
VEHICLES_V2_ENTRA_REDIRECT_URL=https://erdms.zachranka.cz/dev/vehicles-v2
WEBDISPECINK_KODF=YOUR_WEBDISPECINK_KODF
WEBDISPECINK_USERNAME=YOUR_WEBDISPECINK_USERNAME
WEBDISPECINK_PASSWORD=YOUR_WEBDISPECINK_PASSWORD
