# Public base path used by Vite for production build output.
# DEV example:
# VITE_APP_BASE_PATH=/dev/burza-sluzby/
# PROD example:
# VITE_APP_BASE_PATH=/burza-sluzby/
VITE_APP_BASE_PATH=/dev/burza-sluzby/

# Burza API base path.
# DEV example: /dev/api.burza-sluzby
# PROD example: /api.burza-sluzby
VITE_BURZA_API_BASE=/dev/api.burza-sluzby

# Local API target for npm start in DEV
VITE_BURZA_DEV_API_TARGET=http://127.0.0.1:8000
