REACT_APP_APPNAME=Inventik - Inventura majetku
REACT_APP_VERSION=1.0.0
REACT_APP_APIURL=/inventik/api/api.php
REACT_APP_DEBUG=false

# API Configuration
REACT_APP_API_BASE_URL=https://erdms.zachranka.cz/inventik/api
