REACT_APP_APPNAME=ZZS SK přehled vozidel
REACT_APP_VERSION=0.5.0
REACT_APP_VERSION_LABEL=Verze 0.5 BETA
REACT_APP_DB_LABEL=vehicle-zzs-dev
REACT_APP_APIURL_POST=/dev/api.vehicles/api.php
REACT_APP_APIURL_GET=/dev/api.vehicles/api.php
REACT_APP_DEBUG=false
REACT_APP_KM_MONTHS_BACK=3
